/*
* @subsection   RD Mail Form
*
* @description  Describes style declarations for RD Mail Form extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      1.1.2
*/

$input-height: 50px;
$input-font-weight: inherit;
$input-font-size: 16px;
$input-line-height: 34px;

$input-offset-top: 30px;

$input-color: #a2a2a2;
$input-background: $white;

$input-border-radius: 24px;

$input-border-color: $grayscale-lighten;
$input-border: 0px solid $input-border-color;

$input-padding: ($input-height - $input-line-height) / 2 18px;

@if ($input-border != none) {
  $input-padding: ($input-height - $input-line-height - (nth($input-border, 1) * 2)) / 2 18px;
}

$textarea-height: 200px;

$placeholder-clr: $input-color;
$placeholder-opacity: 1;

.rd-mailform {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  fieldset {
    border: none;

    > .row + .row{
      margin-top: $input-offset-top;
    }
  }
}
.rd-mailform .form-group {
  position: relative;
  display: block;
  width: 100%;
  margin-top: $input-height / 2;
  margin-bottom: 0;

  & > label{
    width: 100%;
    font-weight: $input-font-weight;
    font-size: $input-font-size;
    line-height: $input-line-height;
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  input, select {
    height: $input-height;
    @if ($input-border != none) {
      border-bottom: $input-border;
      border-radius: $input-border-radius;
    }
    -webkit-box-shadow: 0px 1px 7px 0px rgba(1, 1, 1, 0.1);
    -moz-box-shadow:    0px 1px 7px 0px rgba(1, 1, 1, 0.1);
    box-shadow:         0px 1px 7px 0px rgba(1, 1, 1, 0.1);
  }

  input, textarea {
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    font-size: $input-font-size;
    padding: $input-padding;
    line-height: $input-line-height;
    color: $input-color;
    background: $input-background;

    &:-moz-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &::-webkit-input-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &::-moz-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &:-ms-input-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }
  }

  textarea {
    resize: vertical;
    overflow: auto;
    min-height: $input-height;
    height: $textarea-height;
    max-height: $textarea-height * 1.5;

    @if ($input-border != none) {
      border: $input-border;
      border-radius: $input-border-radius;
    }

    -webkit-box-shadow: 0px 1px 7px 0px rgba(1, 1, 1, 0.1);
    -moz-box-shadow:    0px 1px 7px 0px rgba(1, 1, 1, 0.1);
    box-shadow:         0px 1px 7px 0px rgba(1, 1, 1, 0.1);
  }

  @media (min-width: $screen-sm-min) {
    margin-top: $input-offset-top;
  }
}

/*
* MF Controls
*/

.mfControls {

  button {
  }
}

@import "mailform_modules/_mf-animation.scss";
@import "mailform_modules/_mf-placeholder.scss";
@import "mailform_modules/_mf-validation.scss";
@import "mailform_modules/_mf-submit.scss";
@import "mailform_modules/_mf-icon.scss";
@import "mailform_modules/_mf-label.scss";
@import "mailform_modules/_mf-select.scss";
@import "mailform_modules/_mf-datepicker.scss";







